@import '../abstract/functions','../abstract/variables', '../abstract/mixins' ;


$icon-size: 24px;
$padding-h: 8px; 
$collapsed-width: $icon-size + (2 * $padding-h);
.cityDashboard {
    padding: 16px;
    min-height: 100vh;
}

.headerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 100%;
    padding: 20px 0; 
    gap: 20px
}


.cityName {
    justify-self: center;
    font-size: 25px;
    font-weight: 100;
}

.dashboardHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin: 20px; 
}

.title{
    font-weight: 400; 
    font-size: 28px; 
    margin-bottom: 24px; 
    text-align: center;
}

.cityList {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    gap: 20px;
    padding: 0;
    width: 100%;
}

.headerButton { 
    display: flex !important; 
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    padding: 8px !important; 
}

.buttonContent {
    height: 20px;
    display: flex;
    align-items: center;
    width: 150px; 
}

.buttonText { 
    margin-left: 10px; 
    flex-grow: 1;
}


.iconWrapper {
    flex-shrink: 0; 
    font-size: 30px; 
    display: flex;
}

@include mq-min(map-get($breakpoints, SMiddleMid)) {
    
    .dashboardHeader {
        flex-direction: row; 
        justify-content: space-between;
        padding: 40px 0;
        margin: 40px;
        width: 100%;
        max-width: 940px; 
        margin-left: auto;
        margin-right: auto;
    }

    .title {
        font-size: 36px;
        margin-bottom: 0; 
        order: 1; 
    }
    
    
    .cityList {
        flex-direction: row; 
        align-items: flex-start;
        width: calc(100% + 20px); 
        margin-left: -10px;
    }
}

@include mq-min(map-get($breakpoints, M)) {
    .headerWrapper {
        flex-direction: row;
        gap: 0;
    }
    .cityName {
        margin: 50px;
        font-size: 50px;
    }
    .cityDashboard {
        padding: 40px;
    }

    .title {
        font-size: 40px; 
    }

    .buttonContent{
        height: 40px;
    }

    .cityList {
        width: calc(100% + 20px);
        justify-content: flex-start; 
    }
}

@include mq-min(map-get($breakpoints, XLL)) {
    .cityList {
        width: calc(100% + 20px);
    }
}