@import '../abstract/functions','../abstract/variables', '../abstract/mixins' ;

.wrapper {
    margin: 20px 0;
    width: 100%;
    padding: 0 15px;
    @include mq-min(map-get($breakpoints, SMiddleMid)) { 
        padding: 0;
    }
}

.chartsGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;

}

.labelForGraph{
    font-weight: 100;
    font-size: 20px;
    justify-self: center;
    padding: 20px;
}

.fullWidthChart {
    grid-column: span 2;
}

.chartBox {
    background: white;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(73, 70, 70, 0.1);
}

.threeHourList {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px;
}

.threeHourItem {
    background: white;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(133, 124, 124, 0.1);
}

.time {
    font-weight: bold;
    margin-bottom: 6px;
}

.icon {
    width: 60px;
    margin: 0 auto;
}

.temp {
    font-size: 18px;
    font-weight: bold;
    margin-top: 4px;
}

.description {
    font-size: 12px;
    opacity: 0.7;
}

.details {
    margin-top: 8px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.titleWeather{
    justify-self: center;
    margin: 20px 0;
    font-size: 20px;
    font-weight: 300;
}
.timeWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dateSmall {
    font-size: 0.8em;
    color: #888;
    display: none; 
}
.dailyRowWrapper {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.dateHeader {
    width: 100%;
    text-align: center;
    margin: 20px 0 10px;
    font-size: 16px;
    font-weight: 100;
    color: #333;
}

.dailyHeader {
    font-weight: 100;
    font-size: 16px;
    margin: 10px;
}

.hourlyGridContainer{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 10px;
}

.loadMoreButtonDiv {
    margin: 30px auto;
    display: flex;
    justify-content: center; 
}

@include mq-min(map-get($breakpoints, SMiddleMid)) {

    .wrapper{
        padding: 0 30px;
    }

    .chartsGrid {
        grid-template-columns: repeat(2, 1fr);
    }
    .dateSmall {
        display: block;
    }
    .titleWeather{
        font-size: 40px;
    }
    .dateHeader {
        font-size: 20px;
        font-weight: 100;
        margin-bottom: 0;
        text-align: left;
    }    
    .dailyRowWrapper {
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 20px; 
    }

    .dailyHeader {
        width: 150px; 
        flex-shrink: 0;
        font-size: 24px;
        text-align: left;
    }

    .hourlyGridContainer {
        display: grid;
        flex-grow: 1;
        grid-template-columns: repeat(8, 1fr);
        gap: 10px;
    }
}
